@font-face {
	font-family: "Maragsa";
	src:
		url('../static/font/Maragsa-Display.woff2') format('woff2'),
		url("../static/font/Maragsa-Display.otf") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "General";
	src:
		url('../static/font/GeneralSans.woff2') format('woff2'),
		url("../static/font/GeneralSans.ttf") format("truetype");
	font-display: swap;
}


html {
	font-size: 100%;
	font-family: General;
	background-color: rgb(203, 76, 78);
	color: rgb(255, 255, 255);
}

/* ------------------------------------
   --------------- GRID ---------------
   ------------------------------------ */
 .container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
 }
.header {
	height: 100vh;

	display: flex;
	justify-content: space-between;
	flex-direction: column;

	padding: 7em 3em 3em 3em;
}

.post {
	padding-bottom: 3em;
}

.top {
	justify-content: normal;
}

.bottom {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.left,
.right {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	width: 40%;
}
.right {
	text-align: right;
}

@media only screen and (max-width: 800px) {

}

/* ------------------------------------
   --------------- FONTS --------------
   ------------------------------------ */
h1 {
	font-family: "Maragsa";
	font-size: 10em;
	text-align: center;
}

h2 {
	font-family: "Maragsa";
	font-size: 3em;
}

.bio {
	font-size: 1.3em;
}

.copyright {
	font-family: "Maragsa";
	font-size: 2.5em;
	margin-bottom: -0.5em;
}

.contact {
	margin-bottom: -1.4em;
}

.work, .contact {
	font-size: 1.2em;
	padding: 0;
}

.details {
	margin-top: -0.5em;
}
/* ------------------------------------
   -------------- LINKS ---------------
   ------------------------------------ */

ul {
	list-style: none;
	padding: 0;
}

ul>li {
	display: inline;
}

li:not(:last-child)::after {
	content: "\25CF";
	margin: 0 0.2em;
}

a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	position: relative;
}

a::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 2px;
	background-color: rgb(255, 255, 255);
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
	a:hover::before {
		left: 0;
		right: auto;
		width: 100%;
	}
}

/* ------------------------------------
   --------------- FORM ---------------
   ------------------------------------ */
.form {
	margin: auto;
	width: 80%;
}

input[type=text],
input[type=email],
textarea {
	width: 100%;
	padding: 12px;
	//border: 1px solid #000000;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1.5em;
	background: #f8f7f5;
	margin-bottom: 0.8em;
}

textarea {
	resize: none;
}

.button {
	margin: auto;
	width: 20%;
}

input[type=submit] {
	width: 100%;
	/* background: #90a955; */
	font-size: 1.5em;
	outline: 0;
	color: #ffffff;
	border: 0;
	padding: 1em 3em;
	border-radius: 4px;
	cursor: pointer;
	font-size: 
}
