:root {
	--dark-grey: rgb(17, 17, 17);
	--grey: rgb(102, 102, 102);
	--light-grey: rgb(170, 170, 170);
	--background-color: rgb(255, 255, 255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

html {
	font-size: 14px;
	line-height: 1.6;
	width: 100vw;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: var(--grey);
	background-color: var( --background-color);
}

.container {
	display: grid;
	max-width: 540px;
	margin: 0 auto;
	padding: 72px 0;
}

h1 {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3;
	color: var(--dark-grey);
}

h2 {
	font-size: 14px;
	margin-bottom: 4px;
	font-weight: 600;
	color: var(--dark-grey);
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.external-link {
	white-space: nowrap; 
	margin-left: -1px;
}
.external-link:after {
	content: url("/static/images/external-link.svg");
}
/* Header */
.profile-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile-header .link {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: var(--light-grey);
}

.profile-photo-wrap {
	align-self: flex-end;
	margin-right: 16px;
	position: relative;
}

picture {
	width: 100%;
	position: relative;
	margin: 0 auto;
	z-index: 1;
	background-size: contain;
	background-repeat: no-repeat;
}

.profile-imgage,
source {
	width: 92px;
	height: 92px;
	object-fit: cover;
	object-position: 50% 50%;
	margin: 0 auto;
	border-radius: 50%;
	box-shadow: 0px 3px 3px var(--light-grey);
}

.emoji-wrap {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.emoji {
	background-color: var( --background-color);
	height: 30px;
	line-height: 24px;
	font-size: 16px;
	padding: 0 8px;
	border-radius: 50%;
	box-shadow: 0px 3px 3px var(--light-grey);
	outline: none;
	border: none;
	display: flex;
	align-items: center;
}

.profile-info {
	flex: 1 1;
	display: grid;
}

/* Status Bubble */
.status-bubble {
	border-radius: 24px;
	box-shadow: 0 0 0 1px rgb(0 0 0/.05), 0 1px 4px rgb(0 0 0/.1);
	margin: 16px 0 36px;
	padding: 18px 24px;
	position: relative;
	background-color: var( --background-color);
}

.status-bubble>img {
	position: absolute;
	pointer-events: none;
	top: -11px;
	left: 64px;
}

.snippet {
	overflow: hidden;
}

.status-updated {
	margin-top: 6px;
	font-weight: 200;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
	color: var(--light-grey);
}

/* Sections */
.section {
	/* margin-top: 20px; */
	padding-bottom: 20px;
}

.experience {
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}

.duration {
	color: var(--light-grey);
	margin-right: 36px;
	position: relative;
	text-align: left;
	width: 90px;
}

.experience-content {
	flex: 1 1;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

a.title-link {
	color: var(--dark-grey);
}

.description {
	margin-top: 2px;
}

.location {
	color: var(--light-grey);
}

.description p:last-child {
	margin-bottom: 0;
}

.description p:first-child {
	margin-top: 0;
}

.description p {
	margin: 16px 0;
}

/* Writing */

.page-thumbnail-link {
	color: var(--dark-grey);
	margin-top: 12px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	text-align: left;
	border-radius: 12px;
}

.page-thumbnail-link>a {
	width: 100%;
	text-decoration: none;
}

.page-flex {
	display: flex;
	flex-direction: row;
}

.page-thumbnail {
	width: 52px;
	height: 66px;
	box-shadow: 0 0 0 1px rgb(0 0 0/.1), 0 1px 4px rgb(0 0 0/.1);
	border-radius: 4px;
	margin-right: 16px;
	flex-shrink: 0;
	overflow: hidden;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	background-color: var( --background-color);
}

.page-thumbnail .scaled-container {
	width: 720px;
	transform: scale3d(.07222, .07222, 1);
	transform-origin: top left;
}

.page-thumbnail .scaled-container p.title {
	font-size: 36px;
	max-width: 540px;
	margin: 0 auto;
	padding: 72px 0 24px;
}

.section p {
	color: var(--grey);
}

.preview-content {
	transform-origin: 50% 50% 0px;
}

.preview-content p {
	margin: 16px 0;
	color: var(--grey);
}

.preview-content>p {
	max-width: 540px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	line-height: 24px;
}

.page-title {
	font-weight: 500;
}

.page-title:hover {
	text-decoration: underline;
}

.date {
	color: var(--light-grey);
	font-weight: 300;
	display: block;
	display: -webkit-box;
	overflow: hidden;
}

li {
	margin: 16px 0;
}

.description li {
	margin: 0px 0px;
}

@media only screen and (max-width: 575px) {
	.container {
		padding: 0px 20px;
	}

	.experience {
		display: flex;
		flex-direction: column;
	}

}
